version: "3.9"

services:
  mongodb:
    image: mongo:6.0
    container_name: team6-mongo
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_PASSWORD}
      MONGO_INITDB_DATABASE: ${MONGO_DB}
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    healthcheck:
      test: echo 'db.runCommand("ping").ok' | mongosh localhost:27017/test --quiet
      interval: 10s
      timeout: 5s
      retries: 5

  provenance_app:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    container_name: provenance-app
    restart: always
    depends_on:
      mongodb:
        condition: service_healthy
    environment:
      MONGO_USER: ${MONGO_USER}
      MONGO_PASSWORD: ${MONGO_PASSWORD}
      MONGO_DB: ${MONGO_DB}
      MONGO_HOST: mongodb
      MONGO_PORT: 27017
    ports:
      - "8000:8000"

volumes:
  mongo_data:
