services:
  app:
    build: .
    ports:
      - "8080:8080"
    volumes:
      - ./data:/app/data

  kafka_ingest:
    build:
      context: .
      dockerfile: Dockerfile
    command: ["python3", "src/stream_ingest.py"]
    restart: always
    volumes:
      - ./data:/app/data